<!-- TODO please press alt+shift+f -->
<form
  class="form"
  [formGroup]="userForm"
  *ngIf="!showInfo"
  (ngSubmit)="onSubmit()"
>
  <mat-card>
    <div class="form__fields">
      <div>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input formControlName="userName" matInput />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Image URL</mat-label>
            <input formControlName="imageUrl" matInput />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Gender</mat-label>
            <!-- TODO: swap select to mat-select component -->
            <select matNativeControl formControlName="gender">
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Choose a date</mat-label>
            <input
              matInput
              formControlName="startDate"
              [matDatepicker]="picker"
              (click)="picker.open()"
            />
            <mat-datepicker
              #picker
              startView="month"
              [startAt]="startDate"
            ></mat-datepicker>
          </mat-form-field>
        </p>
      </div>
      <div>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Days in a shift</mat-label>
            <input formControlName="shiftDays" matInput />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Days of rest</mat-label>
            <input formControlName="restDays" matInput />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Number of hours/day </mat-label>
            <input formControlName="workingHours" matInput />
          </mat-form-field>
        </p>
      </div>
    </div>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!userForm.valid"
    >
      Calculate
    </button>
  </mat-card>
</form>
