// TODO: every selector has some sort of width, height. You should avoid using absolute values. Add to container max width, max height, width, height and everything else should be flexible without additional percents and values.
// TODO: In real applications it would be unacceptable and would have consequences in terms of reliability and maintenance

// TODO: half of the flex styles, margin: auto has no affect on the markup. You should go through them and have a thought why do u need them or just check within the browser console by turning them off and on

.button {
  position: absolute;
  top: 490px;
}
.button > *{
  width: 750px;
  height: 50px;
}

img {
  max-height: 320px;
}
.img{
  margin: 0 auto;
  max-width: 250px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 500px;
  margin: auto;

  &__fields {
    display: flex;
    flex-direction: row; // TODO: display: flex gives flex-direction: row by default; remove it
    padding: 15px;

    div {
      margin: 0 10px;
    }
  }
}

.user-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 520px;
  width: 750px;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:100%;
    margin: auto;
  }

  &__tabs{
    width: 750px;
  }

  &__tab{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%; // TODO: useless
    height: 440px;
    padding: auto; // TODO: no such thing as padding: auto - remove it

    &--chart {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 440px;
      padding:auto;
      margin: auto;
    }
  }

  &__totals {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 380px;
    width: 800px;

    &__items {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 90%;
      width: 30%;
      margin: 0 auto;
    }

    &__item {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      height: 100%;
      width: 90%;
    }

    &__calendar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 440px;
    }
  }
}
