<!-- TODO please press alt+shift+f -->
<form
  class="form"
  [formGroup]="userForm"
  *ngIf="!showInfo"
  (ngSubmit)="onSubmit()"
>
  <mat-card>
    <div class="form__fields">
      <div>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input formControlName="userName" matInput />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Image URL</mat-label>
            <input formControlName="imageUrl" matInput />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Gender</mat-label>
            <!-- TODO: swap select to mat-select component -->
            <select matNativeControl formControlName="gender">
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Choose a date</mat-label>
            <input
              matInput
              formControlName="startDate"
              [matDatepicker]="picker"
              (click)="picker.open()"
            />
            <mat-datepicker
              #picker
              startView="month"
              [startAt]="startDate"
            ></mat-datepicker>
          </mat-form-field>
        </p>
      </div>
      <div>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Days in a shift</mat-label>
            <input formControlName="shiftDays" matInput />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Days of rest</mat-label>
            <input formControlName="restDays" matInput />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Number of hours/day </mat-label>
            <input formControlName="workingHours" matInput />
          </mat-form-field>
        </p>
      </div>
    </div>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!userForm.valid"
    >
      Calculate
    </button>
  </mat-card>
</form>
<!-- TODO: need to use routing module and present 2 global views: 1 with form, another with recalculating. Or use different components atleast. Too much logic inside of one component -->
<div class="user-info__container" *ngIf="showInfo">
  <mat-card class="user-info">
    <mat-tab-group dynamicHeight class="user-info__tabs">
      <mat-tab label="User Info" class="user-info__tab">
        <div class="user-info__tab">
          <mat-card class="user-info__tab__img-container">
            <img src="{{ imageUrl }}" alt="1" class="img" />
            <button
              type="button"
              mat-raised-button
              color="primary"
              (click)="handleRefreshImage()"
            >
              Refresh
            </button>
          </mat-card>
          <mat-list class="user-info__totals__items">
            <mat-list-item> Name: {{ user.name }} </mat-list-item>
            <mat-list-item> Gender: {{ user.gender }} </mat-list-item>
            <mat-list-item>
              Total work hours: {{ totalWorkedHours }}
            </mat-list-item>
            <mat-list-item> Total off hours: {{ totalOffDays }} </mat-list-item>
            <mat-list-item> Total free time: {{ totalRest }} </mat-list-item>
          </mat-list>
        </div>
      </mat-tab>
      <mat-tab label="Calendar" class="user-info__tab">
        <div class="user-info__totals__calendar">
          <app-calendar></app-calendar></div
      ></mat-tab>
      <mat-tab label="Chart">
        <mat-card class="user-info__tab--chart">
          <app-pie-chart></app-pie-chart>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
    <!-- TODO: div with class button looks wrong -->
    <div class="button">
      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="onReset()"
      >
        ReCalculate
      </button>
    </div>
  </mat-card>
</div>
