.holiday > * {
  color: #fff !important;
  background-color: #eb6157 !important;
  border-radius: 100%;
}
.highlight > *{
  color: #fff !important;
  background-color: #3F51B4 !important;
  border-radius: 100%;
}
.calendar {
  margin: auto;
}
