.container {
  display: flex;
  align-content: center;
  height: 100vh;
}

.user-info {
  width: 60%;
  max-width: 750px;
  min-width: 560px;
  max-height: 560px;

  margin: auto;

  &__tabs{
    &__tab{

      &--details{
        display:flex;
        flex-direction: row;
        align-items: center;
        padding: 40px;

        &__img-container{
          margin: 0 auto;
          max-width: 200px;
        }

        &__totals{
          margin: 0 auto;
        }
      }

      &--calendar{
        padding: 40px;
      }

      &--chart{
        padding: 40px;
      }
    };
  }
}
