<mat-card class="user-info">
  <mat-tab-group dynamicHeight class="user-info__tabs">
    <mat-tab label="User Info" class="user-info__tabs__tab">
      <div class="user-info__tabs__tab--details">
        <mat-card class="user-info__tabs__tab--details__img-container">
          <img src="{{ imageUrl }}" alt="1" class="img" />
          <button type="button" mat-raised-button color="primary" (click)="handleRefreshImage()">
            Change Image
          </button>
        </mat-card>
        <mat-list class="user-info__tabs__tab--details__totals">
          <mat-list-item> Name: {{ user.name }} </mat-list-item>
          <mat-list-item> Gender: {{ user.gender }} </mat-list-item>
          <mat-list-item>
            Total work hours: {{ totalWorkedHours }}
          </mat-list-item>
          <mat-list-item> Total off hours: {{ totalOffDays }} </mat-list-item>
          <mat-list-item> Total free time: {{ totalRest }} </mat-list-item>
        </mat-list>
      </div>
    </mat-tab>
    <mat-tab label="Calendar" class="user-info__tabs__tab">
      <div class="user-info__tabs__tab--calendar">
        <app-calendar></app-calendar></div
    ></mat-tab>
    <mat-tab label="Chart">
      <!-- <mat-card class="user-info__tab--chart">
        <app-pie-chart></app-pie-chart>
      </mat-card> -->
    </mat-tab>
  </mat-tab-group>
  <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="onReset()"
      >
        ReCalculate
      </button>
</mat-card>
